* {
  box-sizing: border-box;
}

body {
  background-color: #EFE9F4;
  padding: 20px;
  font-family: Arial;
  background-image: url('BJ.jpg');
}

/* Center website */
.main {
  max-width: 1280px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}


h2 {
  font-size: 20px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
  background-color:#000000;
  padding: 10px;
  Color: white;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#allcontent {
  width:            1366px;
  padding-top:      5px;
  padding-bottom:   5px;
  margin-left:      auto;
  margin-right:     auto;
}